

#menu {
    margin: 2vh;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

#menuSelect {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.menuButton {
    min-width: max-content;
}

.menuButton:hover {
    animation: menuSelecter 0.5s 0s forwards;
    border: white solid 2px;
}

.menuLinks {
    padding: 1vh;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}

#number {
    text-decoration: underline green solid 2px;
}

#mail {
    text-decoration: underline rgb(38, 38, 189) solid 2px;

}

#address {
    text-decoration: underline rgb(157, 112, 16) solid 2px;

}

#wrapper1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 15vh;
    font-size: 2vw;
}

#wrapper2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 4vw;
    align-items: center;
}

body {
    font-size: inherit !important;
    margin: 0;
}