#main {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 65%;
}

.mainLine {
    display: flex;
    gap: 10vw;
}

.div1 {
width: 50%;
display: flex;
align-items: center;
justify-content: space-between;
}

.progressbar {
    background-color: rgb(36, 34, 34);
    border-radius: 13px;
    padding: 3px;
    width: 22vw;
    height: 40%;
  }
  
  .progressbar>div {

    height: 100%;
    border-radius: 10px;
  }

.goodBar {
    background-color: green;
    width: 80%;
}

.mediumBar {
    background-color: yellow;
    width: 60%;
}

.badBar {
    background-color: red;
    width: 40%;
}

  animations
  @keyframes {
    from {

    }
    to {

    }
  }
  