#menu {
    margin: 2vh;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

#menuSelect {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.menuButton {
    min-width: max-content;
}

.menuButton:hover {
    animation: menuSelecter 0.5s 0s forwards;
    border: white solid 2px;
}

.menuLinks {
    padding: 1vh;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}
/*
.progressbar {
    background-color: rgb(36, 34, 34);
    border-radius: 13px;
    padding: 3px;
  }
  
  .progressbar>div {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 2vh;
    border-radius: 10px;
  }

  animations
  @keyframes {
    from {

    }
    to {

    }
  }
  */