body {
    background-color: black;
    color: rgb(238, 232, 232);
    margin: 0;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
}

menu {
    height: 80vh;
}

main {
    height: 80vh;
}

footer {
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

img {
    height: inherit;
}

/*wrappers*/
#wrapper1 {
    height: inherit;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}