body {
    background-color: rgb(2, 29, 1);
    color: white;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
    font-family: sans-serif;

}
::-webkit-scrollbar {
    display: none;
}

#selected {
    background-color: white;    
    color: black;
}

#menu {
    margin-top: 6vh;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

.name1 {
    position: absolute;
    top: 0;
    left: 16vw;
    font-family: impact;
    margin-top: 5vh;
    font-size: 3.8vw;
    rotate: 351deg;
    color: black;
    text-shadow: 2px 2px white, -2px -2px white;
}

#menuSelect {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.menuButton {
    min-width: max-content;
    padding: 5px;
    border: 0px solid white;
    transition: border-width 1.5s ease-out, border-color 1.5s ease-out; 
}

.menuButton:hover {
    border-width: 5px; 
    border-color: white; 
}

.menuLinks {
    padding: 1vh;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}
