body {
    background-color: black;
    color: rgb(238, 232, 232);
    margin: 0;
    overflow-x: hidden;
    font-family: Verdana;
}

p {
    margin: 0;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
}

menu {
    padding: 1.5rem;
    width: 30%;
}

main {

}

footer {
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

img {
    height: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

/*menu--------------------------------------*/
.menuButtons {
    width: fit-content;
    display: block;
}

.menuTitles {
    font-size: 45px;
}

.menuDesc {
    font-size: 20px;

}

/*wrappers----------------------------------*/
#wrapper1 {
    height: inherit;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

#wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#wrapper3 {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

#wrapper5 {
    width: 70%;
}