#wrapper1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 5vh;
}

#wrapper2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40vw;
    height: 43vh;
}

.hyper {
    border-radius: 3mm;
    height: inherit;
    width: inherit;
}

#hyper1 {
    background-image: url(/media/ah.jpeg);
    background-size: cover;
}

img {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: -5;
    border-radius: inherit;
}

h1, p {
    position: absolute;
}