a {
    height: inherit;
}

#wrapper1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 5vh;
}

#wrapper2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40vw;
    height: 43vh;
}

#wrapper3 {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    margin-top: 2vh;
    height: fit-content;
    justify-content: flex-end;
}

#wrapper4 {
    display: flex;
    width: 15%;
    font-size: 1.5vw;
    height: fit-content;
    justify-content: center;
}

#newprj {
    padding: 6.5px;
}

.hyper {
    border-radius: 3mm;
    height: inherit;
    width: inherit;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hyper1 {
    background-image: url(/media/expo.png);

}

img {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: -5;
    border-radius: inherit;
}

.text {
   opacity: 0;
   transition: opacity 1s ease-out;
   margin: 0.5rem;
   z-index: 2;
}

.hyper:hover .text {
    opacity: 1;
}

.screen {
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    width: 40vw;
    transition: height 0.5s ease-out;
    height: 0vh;
}

.hyper:hover .screen {
    height: 20vh;
}

