body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
}

#audio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Donkere overlay */
    z-index: 10;
  }
  
  body.noscroll {
    overflow: hidden;
  }
  
.plane-element {
    position: absolute;
    transition: transform 0.3s ease, scale 0.3s ease;
}

.plane-element:hover {
    transform: scale(1.1); /* Vergroot */
}

.plane-element.clickable:hover {
    cursor: pointer;
}


#wrapper1 {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: end;
    align-items: center;
    align-content: center;
}

.progress-bar {
    width: fit-content;
    background-color: #ffffff38;
    border-radius: 99px;
    padding: 3px;
    height: fit-content;
    margin-right: 3vw;
}

.progress-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-point {
    width: 10px;
    height: 10px;
    background-color: #b4b3b3;
    border-radius: 50%;
    margin: 10px 0;
    transition: all 2.5s ease;
}

.progress-point.active {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}

#video {
    display: none; /* Verberg de HTML-video */
}

.video-plane {
    opacity: 0.8; /* Pas opacity toe */
    filter: blur(5px) contrast(1.2); /* Pas blur en contrast toe */
}
